.c-button {
  border: none;
  border-radius: 2px;
  font-weight: 600;
  outline: none;
  padding: 0 1rem;
  font-size: 0.75rem;
  height: 32px;
  line-height: 32px;
}

.c-button--primary {
  background: #222;
  color: #ececec;

  &:hover{
    background: rgba(#222,0.9);
  }
}


.c-button--ghost{
  background: #f0f0f0;
  color: #222;

  &:hover{
    background: #999;
  }
}


.c-button-group-wrap{
  display: flex;
  flex-direction: column;

  & + .c-button-group-wrap{
    margin-left: 2rem;
  }
}

.c-button-group{
  display: inline-flex;

  .c-button + .c-button {
    margin-left: 0.5rem;
  }
}
