$default-block-size: 136px;
.c-flooper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  justify-content: center;
}

.c-flooper__row {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-bottom: 30px;
}

  .c-flooper__block {
    position: relative;
    margin: 0 15px;
    padding: 0 15px;
    flex: 0 0 auto;
    width: $default-block-size;
    height: $default-block-size;
    border-radius: $default-block-size;
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;

    // double sizing
    &--2x { width: $default-block-size*2; }
  }

    .c-flooper__img {
      max-height: 100%;
      width: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

.c-flooper__controls{
  margin-top: 5em;
  margin-bottom: -5em;
  text-align: center;
}



/*
 * BEATLES DEMO
 *------------------------------------------*/
.c-flooper--beatles {
  background-image: linear-gradient(rgba(#ececec,.5), rgba(#ececec,.5)), url("../assets/background.jpeg");
  background-size: cover;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  padding: 2rem 0;

  @media screen and (min-width:1024px) {
    width: ($default-block-size*2)*4; // double size x 4 beatles
    margin: 0 auto;
    max-width: 100%;
  }

  .c-flooper__block{
    background: transparent;
    height: 272px;
    animation: float 3s ease-in-out infinite;

    .paused & {
      animation-play-state: paused;
    }

    &:hover{
      background-color: rgba(#222,.5);
      color: white;
    }
  }
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}


/*
 * DEFAULT DEMO
 *------------------------------------------*/

 .c-flooper--demo{
  background: #ececec;

  .c-flooper__block{
    background: white;
  }
 }
