.c-flooper-wrap
  .c-flooper.c-flooper--beatles
    .c-flooper__row.js-flooper(data-flooper-options = {"autoPlay": false, "speed": 5, "name": "beatles"})
      .js-flooper-item.c-flooper__block.c-flooper__block--2x
        img(src="assets/1.png", class="c-flooper__img", alt="George Harrison at Abbey Road", title="George Harrison at Abbey Road")
      .js-flooper-item.c-flooper__block.c-flooper__block--2x
        img(src="assets/2.png", class="c-flooper__img", alt="Paul McCartney at Abbey Road", title="Paul McCartney at Abbey Road")
      .js-flooper-item.c-flooper__block.c-flooper__block--2x
        img(src="assets/3.png", class="c-flooper__img", alt="Ringo Starr at Abbey Road", title="Ringo Starr at Abbey Road")
      .js-flooper-item.c-flooper__block.c-flooper__block--2x
        img(src="assets/4.png", class="c-flooper__img", alt="John Lennon at Abbey Road", title="John Lennon at Abbey Road")
