div.c-player player bar
  div.c-player__wrap
    div.c-player__selectbox.js-player-selectbox-holder

    div.c-player__buttons
      button.js-flooper-pause.c-button.c-button--primary Pause
      button.js-flooper-play.c-button.c-button--primary Resume

