doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title= title
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel="shortcut icon", href="images/favicon.ico")
    link(rel="stylesheet", href="css/index.css")
  body
    div#app.o-skeleton
      main.o-skeleton__body
        include _player
        header.c-hero
          include _github_ribbon
          h1.c-hero__title Flooper.js Demo
          div.c-button-group
            a.c-button.c-button--ghost Documentation
            a.c-button.c-button--ghost Download
        section.o-section
          include _flooper_beatles
        section
          include _flooper_demo
      footer.o-skeleton__feet.c-footer
        small Made with ➿ and ❤️ by
          a(href="https://whitesmith.co") Whitesmith™
    script(type="text/javascript", src="js/app.js")
